<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>FavorDAO</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.3</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.favorlabs.favorDao</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>NSAppleMusicUsageDescription</key>
    <string>This app needs permission to access your Apple Music library in order to play music within the app.</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>This app needs permission to use Bluetooth in the background at all times to function properly.</string>
    <key>NSCalendarsUsageDescription</key>
    <string>This app needs permission to access your calendars in order to schedule events and reminders within the app.</string>
    <key>NSCameraUsageDescription</key>
    <string>This app needs permission to access your camera in order to take photos and videos within the app.</string>
    <key>NSContactsUsageDescription</key>
    <string>This app needs permission to access your contacts in order to display them within the app and allow you to interact with them.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>This app needs permission to access your location at all times or when you are using it in order to provide location-based services.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs permission to access your location when you are using it in order to provide location-based services.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>This app needs permission to access your microphone in order to record audio within the app.</string>
    <key>NSMotionUsageDescription</key>
    <string>This app needs permission to access motion data (such as accelerometer and gyroscope data) in order to provide certain features within the app.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app needs permission to access your photo library in order to display photos and videos within the app.</string>
    <key>NSSiriUsageDescription</key>
    <string>This app needs permission to access Siri in order to provide voice-activated functionality within the app.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>This app needs permission to access speech recognition in order to provide voice-to-text functionality within the app.</string>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>
